/* ChatWindow.css */
.chat-window {
    background-color: #f6f6f6;
    padding: 10px;
    overflow-y: auto;
    flex: 1;
    width: 100%;
}

.message-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message {
    display: flex;
    align-items: flex-start;
}

.avatar-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
}

.user {
    font-weight: bold;
    color: #007bff;
    margin-left: 5px;
}

.message-details {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    /* Add left margin to move the message away from the avatar */
}

.message-text {
    background: linear-gradient(to bottom right, #f6f6f6, #d7c4c4);
        /* Gradient from top-left to bottom-right */
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    max-width: 500px;
    /* Set a maximum width for the message box */
    word-wrap: break-word;
    /* Allow long messages to wrap to a new line */
}

.like-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.like-button {
    background-color: #e6e6e6;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: #333;
    display: flex;
    align-items: center;
    font-size: medium;
    transition: background-color 0.3s ease;
    /* Add transition effect for smooth hover */
}

.like-button:hover {
    background-color: #a7f1f9;
    /* Change the background color on hover */
}

.like-count {
    margin-left: 5px;
}

.timestamp {
    font-size: 12px;
    color: #888;
    margin-left: 2px;
    font-size: medium;
}